<template name="Home">
	<div class="home">
		<h1>What's should we do today?</h1>
		<body>
			<div class="container">
				<div class="map-container">
					{{> googleMap name="exampleMap" options=exampleMapOptions}}
				</div>
			</div>
			<!-- 	<img class="media-object" src="http://www.luxuryhotelist.com/files/4513/1372/3345/iStock_000014109944Medium_-_Vancouver.jpg" alt="..."> -->
			<div class="container">
				<img class="media-object" src="http://www.luxuryhotelist.com/files/4513/1372/3345/iStock_000014109944Medium_-_Vancouver.jpg" alt="...">
			</div>
		</body>


	</div>

</template>
